.Buy{
    background-color: #ef4c6c;
    width: 190px;
    height: 60px;
    margin-top: 50px;
    margin-left: 590px;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    padding-left: 12px;
}
.off{
    position: absolute;
    background-color: #1b0a0d;
    color: #ffff;
    width: 150px;
    height: 50px;
    margin-top: 15px;
    margin-left: 700px;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    padding-left: 12px;
}